# Server-side backend URL (используется на сервере для SSR, API routes и т.д.)
# В продакшене замените на реальный адрес.
BACKEND_URL=http://45.142.44.31/api

# Client-side backend URL (Django DRF) — используется клиентом напрямую (credentials: include).
# В продакшене замените на реальный адрес.
NEXT_PUBLIC_BACKEND_URL=http://45.142.44.31/api
